body {
  margin: 0;
  font-family: 'Cabin', sans-serif;  padding: 0;
  height: 100vh;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
