nav{
    height: 50px;
    border: 1px solid #dfdfdf;   
}

.div-header{
    width: 80%;
    height: 100%;
    margin:  auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 50px;
    width: 50px;
    border: 1px solid #2f2e30;
    border-radius: 20px;

}

.div-svg{
    height: 40px;
    width: 40px;
    padding: 0 20px;
    border: 1px solid #2f2e30;
    border-radius: 20px;
    margin: 3px;
}

.active{
    border-bottom: 2px solid firebrick;
}